body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 400px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 48%;
    padding: 10px;
    margin-top: 15px;
}

.cancel {
    background: #aaa;
}

.captcha-box {
    margin-top: 10px;
}

.captcha {
    font-weight: bold;
    background: #ddd;
    padding: 5px;
    display: inline-block;
}

.msg {
    text-align: center;
    margin-top: 15px;
    color: green;
}
